.App {
  text-align: center;
  background: #121212;
}
body {
  background: #121212;
  color: #ddd;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.star {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 2px;
  float: left;
  background-color: grey;
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.star.selected {
  background-color: red;
}
.mr-auto.nav a {
  display: inline-flex;
  margin: 5px 10px;
  font-size: 14px;
  background: #06060700;
  padding: 5px;
  border: #6a6a6a solid 1px;
  color: #9e9e9e;
  border-radius: 0.75rem;
}
.mr-auto.nav a:hover {
  background: #9e9e9e35;
  opacity: 0.5;
  color: #fff;
  text-decoration: none;
}
.m1 {
  display: inline-block;
  margin-bottom: 30px;
}
.member.card {
  background: #1d1d1d;
  border: solid 1px #2d2d2d;
}
.member h1 {
  font-size: 20px;
}
.color-list,
.color {
  color: black;
  background-color: white;
  padding: 21px;
  text-align: center;
  display: inline-block;
}
